.about-us {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 120px;
}

.text-about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 26px;
}

.text-about h2 {
  font-size: 81px;
  font-weight: bold;
}

.text-about p {
  font-size: 18px;
  font-weight: 300;
  line-height: 1.8;
}

.img-about {
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-about img {
  width: 100%;
  height: auto;
}
