.heading {
  font-size: 81px;
  font-weight: bold;
}

.para {
  font-size: 18px;
  font-weight: 300;
  line-height: 1.8;
}

.grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 120px;
}

.text-grid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 26px;
}

.img-grid {
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-grid img {
  width: 400px;
  height: auto;
}
