.hero-case {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.text-herocase {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.text-herocase h2 {
  font-size: 180px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 0.9;
}

.img-herocase {
  display: flex;
  justify-content: center;
  align-items: center;
}
